.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

flipper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 700px;
}

mat-list-item {
  margin: 20px 0;
}

mat-card {
  width: 100%;
}
