.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

flipper {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-list-item {
  margin: 20px 0;
}

mat-card {
  width: 100%;
}

.mat-button-base:not(.mat-icon-button) {
  margin: 8px 8px 8px 0;
}

.mat-list-item {
  height: auto !important;
}

.mat-card {
  padding: 8px;
}
