@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=block");

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

app-root {
  height: 100%;
  width: 100%;
}
